
body::-webkit-scrollbar {
    display: none;
}


.Dropdown-wrapper {
  /* height:475px; */

  max-height: 475px;
  -webkit-overflow-scrolling: touch;
  
  
  /* overflow-x: visible;
  overflow-y: scroll; */
  
  /* overflow-y:scroll; */
  /* overflow:scroll; */

  /* overflow-x:hidden;  */
  
  
}

.Dropdown {
  overflow: scroll;
  /* position: absolute; */
    
  
    /* overflow: auto; */
    /* -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; */
  
  
  
  
  

  background-color:#F9F9F9;
  width:440px;
  height:100px; 
  float:right;
  margin-right:18%; 
  z-index: 2;
  margin-top:-20px;   
  border-radius:3px;
  border: 1px solid rgba(142, 149, 168, 0.4);
  color:#505A76;
  /* overflow-y: scroll; */
}

.character-text {
  padding:30px 30px 30px 100px;
  text-align: left;  
}

.character-description {
  font-size:10px;
  color:rgba(80, 90, 118, 0.7);

}

.character-image {
  float:left;
  padding:20px; 
  border-radius: 50%;
  width:50px;
  height:50px; 
}

.Dropdown:hover {
  background-color:#DCCECE;
  color:red;
  cursor:pointer;
}