
body::-webkit-scrollbar {
    display: none;
}


.Dropdown-wrapper {
  /* height:475px; */

  max-height: 475px;
  -webkit-overflow-scrolling: touch;
  
  
  /* overflow-x: visible;
  overflow-y: scroll; */
  
  /* overflow-y:scroll; */
  /* overflow:scroll; */

  /* overflow-x:hidden;  */
  
  
}

.Dropdown {
  overflow: scroll;
  height:100px; 
}

.Dropdown, .noresults {
  background-color:#F9F9F9;
  float:right;
  width:440px;
  margin-right:18%; 
  z-index: 2;
  margin-top:-20px;   
  border-radius:3px;
  border: 1px solid rgba(142, 149, 168, 0.4);
  color:#505A76;
}

.character-text {
  padding:30px 30px 30px 100px;
  text-align: left;  
}

.character-description {
  font-size:10px;
  color:rgba(80, 90, 118, 0.7);

}

.character-image {
  float:left;
  padding:20px; 
  border-radius: 50%;
  width:50px;
  height:50px; 
}

.Dropdown:hover {
  background-color:#DCCECE;
  color:red;
  cursor:pointer;
}

.noresults {
  height:180px;
}

.noresults h1 {
  padding-top:3%; 
  color:red;
}

.noresults h3 {

}

.noresults > div:nth-of-type(1) { 
  padding:0 30%;
}

