.App {
  text-align: center;
}

.App-logo {
  float:left;
  margin-left:15%; 
  height: 45px;
}

.App-header {
  background-color:#EF1B1F;
  height: 49px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#search-bar {
  float:right;
  margin-top:7px; 
  margin-right:17%; 
  width:240px;
  height:35px;
  border-radius:3px; 
  border:none;
}

/* Chrome/Opera/Safari */
#search-bar::-webkit-input-placeholder { 
  color: rgba(142, 149, 168, 0.9);
  padding-left:20px; 
}

/* Firefox 19+ */
#search-bar::-moz-placeholder { 
  color: rgba(142, 149, 168, 0.9);
  padding-left:20px; 
}

.loading {
    background: url(http://www.xiconeditor.com/image/icons/loading.gif) no-repeat right center;
    background-color: white;
}





.spinner {
  float:right;
  margin-top:7px; 
  
  /* margin-right:17%;  */
  width:30px;
  height:30px;
  
}